* {
  box-sizing: border-box;
}

:root {
  --grid-width: 45vw;
  --grid-min-width: 250px;
  --grid-max-width: 500px;
}

.snake-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: flex;
  flex-flow: row wrap;

  width: var(--grid-width);
  min-width: var(--grid-min-width);
  max-width: var(--grid-max-width);

  height: var(--grid-width);
  min-height: var(--grid-min-width);
  max-height: var(--grid-max-width);
}

.grid-item,
.snake,
.food {
  border: 1px solid grey;

  width: calc(var(--grid-width) / 15);
  min-width: calc(var(--grid-min-width) / 15);
  max-width: calc(var(--grid-max-width) / 15);

  height: calc(var(--grid-width) / 15);
  min-height: calc(var(--grid-min-width) / 15);
  max-height: calc(var(--grid-max-width) / 15);
}

.snake {
  background-color: blue;
}

.food {
  background-color: red;
}
