:root {
  --cell-size: 3vw;
  --grid-size: 15;
  --grid-min-width: 250px;
  --grid-max-width: 500px;
}

.grid-wrapper {
  display: flex;
  justify-content: center;
}

.grid {
  position: relative;

  display: flex;
  flex-flow: wrap;

  width: calc(var(--cell-size) * var(--grid-size));
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);

  background-color: gray;
}

.cell:nth-child(2n) {
  background-color: lightgray;
}

.grid-wrapper .snake-head {
  position: absolute;

  background-color: red;

  left: var(--cell-size);
  top: calc(var(--cell-size) * 7);
}
